$dark-orange: #eb790c;
$light-orange: #ff850f;
$primary-color: #fff;
$secondary-color: #6b6666;
$tertiary-color: #a1a5b2;
$color-black: #1b1a1a;
$color-white: #fff;

$font-family-para: "Roboto", sans-serif;
$font-family-panarama: "Open Sans", sans-serif;
$font-family-h1: "Kanit", sans-serif;

$font-size-link: 1.7rem;
$font-size-para: 1.9rem;
$font-size-h1: 4.2rem;
$font-size-caption: 1.1rem;
