@import "../../sass/variables";

.tag {
  display: inline-block;
  font-size: $font-size-caption;
  background-color: #f9f9f9;

  padding: 0.2rem 0.5rem;
  border-radius: 2px;
  letter-spacing: 1px;
  box-shadow: 0 0.7rem 1rem rgba($color-black, 0.043);

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &-project {
    margin-top: 0.5rem;
  }
}
