@import "../../sass/variables";

.panarama {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: $font-size-link;
  color: $tertiary-color;
  margin-bottom: 0.6rem;

  &-form {
    letter-spacing: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
  }
  &-project
  {
    margin-bottom: -.4rem;
    margin-left: .3rem;

    
  }
}
